/*!
 * NaN Business
 * Copyright Not A Number and his devs

                      .
                     d8b
                   d88888b
                 d888Y Y888b
               d888Y  .  Y888b
             d888Y   d8b   Y888b
           d888Y   d88888b   Y888b
            ""   d888Y Y888b   ""
               d888Y  .  Y888b
                ""   d8b   ""
                   d88888b
   8888b   88888     Y8b     8888b   88888
    8888b   888       '       8888b   888
    88888b  888               88888b  888
    888Y88b 888    88888b.    888Y88b 888
    888 Y88b888    "   "88b   888 Y88b888
    888  Y88888   .d8888888   888  Y88888
    888   Y8888   888   888   888   Y8888
   88888   Y888   "Y88888"88 88888   Y888 
 *---------------------------------------------
 *
 * MAIN.CSS
 *Page chargée du style des pages
 *
 */

  /* FONTS ********************************************* */
 @import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
 @import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:700&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Crete+Round&display=swap');

 /* GENERAL ********************************************* */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #000;
    font-size:16px;
    color: #d0d4d7;
    font-family: 'Nunito Sans',arial, sans-serif;
    overflow-x: hidden;
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 rgba(221, 221, 221, 0);
}

/* width */
::-webkit-scrollbar {
width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
background: #000; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #7362dc; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #463a8f; 
}

/*----------------LOADER------------------------------------*/

.preloader{
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: #000; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: 1s;
    z-index: 10000;
}

.preloader::before{
    content: '';
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #000;
    transition: 2s;
}

.preloader.complete::before{
    left: -50%;
}

.preloader::after{
    content: '';
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #000;
    transition: 2s;
}

.preloader.complete::after{
    right: -50%;
}

.lds-circle {
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background: transparent;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.img-load{
    max-height: 50px;
}

.preloader.complete{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

@keyframes lds-circle {
    0%, 100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
        transform: rotateY(3600deg);
    }
}
/*----------------LOADER------------------------------------ fin */

a:hover{
    text-decoration: none;
    color: #7362dc;
}

ul li{
    display: inline-block;
    list-style: none;
}

.footer-page{
    height: 20px;
}


footer p{
    margin-bottom: 0px;
    font-size: 15px;
    color: #d0d4d78f;
}

footer p ion-icon{
    color: #eb3f4d;
    font-size: 18px;
}

#social-network{
    margin-bottom: 0px;
}

#social-network li{
    padding: 10px;
}

.social_link{
    padding: 8px;
    border-radius: 50%;
}

.social_link ion-icon{
    color: #fff;
    font-size: 25px;
}

#centrer{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.invite_scroll{
    position: relative;
    background: #fff;
    height: 100px;
    width: 300px;
    margin-top: -140px;
    z-index: 6;
}

.invite_scroll p{
    margin-bottom: 0px;
    font-size: 19px;
    color: #000;
}


.down:hover .invite_scroll{
    background: #000;
    -webkit-transition: background-color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out;
    transition: background-color .4s ease-in-out;
}

.down:hover p{
    color: #7a68eb;
    transition: .2s;
}

.divider-point{
    color:#00a657; 
    font-size:25px;
}

.divider-point-vt{
    color:#777fff; 
    font-size:25px;
}

.sz-11{
    font-size: 1.2rem;
}

.pd-top-50{
    padding-top: 50px;
}

.pd-top-100{
    padding-top: 100px;
}

.pd-bt-50{
    padding-bottom: 50px;
}

.pd-bt-20{
    padding-bottom: 20px;
}

.pd-top-20{
    padding-top: 20px;
}

.mg-bt-30{
    margin-bottom: 30px;
}

.mg-bt-50{
    margin-bottom: 50px;
}

.family{
    font-family: 'Crete Round', serif;
}


 /* HEADER ********************************************* */

 header{
     z-index: 9999;
 }

.v-header{
    height: 100vh;
    display: flex;
    align-items: center;
  }

.fullscreen-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 4;
}

.fullscreen-video video{
    min-width: 100%;
    min-height: 100%;
}

#overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 5;
    width: 100%;
    background: rgba(0, 0, 0, 0.514);
}

 /* SIDEBAR ********************************************* */

 .sidebar-lg{
    width: 155px;
    background: #7362dc;
 }

 .sidebar-lg,
 .sidebar{
    height: 100vh;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
 }


 .sidebar{
    width: 150px;
    background: #fff;
 }

 .img-logo{
     max-height: 40px;
 }

 .menu li{
     display: block;
     font-family: 'Crete Round', serif;
     font-size: 18px;
     margin-bottom: 20px;
 }

 .menu li a{
    color: rgb(30, 30, 32);
}

.menu li a:hover{
    color: #7362dc;
}

.sidebar-social{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.sidebar-social ul li a{
    color: rgb(126, 127, 128);
}

.azerty li{
    display: block;
}

.qwerty li{
    display: inline-block;
    font-size: 22px;
}



#resp-menu{
    display: none;
}

.menu-navbar {
    position:fixed;
    padding: 20px 5px 10px 5px;
	top:0px;
	width:100%; 
	background-color:#fff;
    color: #111;
    min-height:75px; 
	z-index:9999;
    display: none;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.hamburger{
    font-size: 35px;
    color: rgb(44, 44, 44);
    margin-top: 5px;
    display: none;
}

.main-nav{
    margin-top: 10px;
}

.main-nav li{
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
}

.main-nav li a{
   color: #463a8f;
   font-family: 'Crete Round', serif;
}


  /* MAIN CONTENT ********************************************* */

  #main-content{
      margin-left:155px;
      z-index: -9999;
  }
  
  #patner ul li{
      width: calc(100% / 7);
      text-align: center;
  }

  .img-client{
      border-radius: 50%;
      max-height: 70px;
      max-width: 70px;
  }

  .avis{
      font-family: 'Caveat',serif;
      font-size: 22px;
  }

#block3{
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><path d="M5 0L0 5V0h5zm10 0h10L0 25V15L15 0zM0 55l5 5H0v-5zm0-10V35l25 25H15L0 45zM60 5l-5-5h5v5zm0 10v10L35 0h10l15 15zM45 60H35l25-25v10L45 60zm10 0l5-5v5h-5zM30 5l25 25-5 5-20-20-20 20-5-5L30 5zm0 40l5 5-5 5-5-5 5-5zm0-20l15 15-5 5-10-10-10 10-5-5 15-15z"/></svg>');
  background-size: 20px;
  background-attachment: fixed;
  background-position: center 20px;
  background-color: #111;
  min-height: 500px;
}

.mycard{
    margin-left: -20px;
    background: #fff;
    height: 280px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(16,14,23,.25);
}

.img-card{
    max-height: 200px;
}

.card-height{
    height:650px;
}

.card-tricks{
    width: 18rem;
    border: none; 
    padding-top: 20px;border-radius: 10px; 
    background-color: #ebebeb;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.welcome{
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 57px;
    color: #fff;
}

.welcom-message{
    font-size: 18px;
}

.right-bordure{
    position: absolute;
    top: 0;
    right: 3%;
    width: 33px;
    height: 30px;
    background: url(../images/right.png) no-repeat;
}

.left-bordure{
    width: 33px;
    height: 30px;
    background: url(../images/left.png) no-repeat;
}

.welcom-list li{
    display: block;
    padding-bottom: 30px;
}



.welcom-list li ion-icon{
    font-size: 45px;
}

#block1,
#block2,
#block4{
    background: #000;
    z-index: 7;
}

#block5{
    background:linear-gradient(#000,rgb(17, 17, 17),rgba(17, 17, 17, 0.712),rgba(17, 17, 17, 0.651),rgba(17, 17, 17, 0.493)), url(../images/bg-dark.jpg) bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 20px;
    min-height: 500px; 
    width: 100%;

 }

#block_contact{
    background: linear-gradient(#282157c2,#282157c2),url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><path d="M5 0L0 5V0h5zm10 0h10L0 25V15L15 0zM0 55l5 5H0v-5zm0-10V35l25 25H15L0 45zM60 5l-5-5h5v5zm0 10v10L35 0h10l15 15zM45 60H35l25-25v10L45 60zm10 0l5-5v5h-5zM30 5l25 25-5 5-20-20-20 20-5-5L30 5zm0 40l5 5-5 5-5-5 5-5zm0-20l15 15-5 5-10-10-10 10-5-5 15-15z"/></svg>');
    background-size: 20px;
    background-attachment: fixed;
    background-position: center 20px;
    background-color: #111;
}

.contact-hs{
    min-height: 400px;
}

.my-input,
.my-textarea{
    border: none;
    background: #38393c;
    border-radius: 0px;
    height: 50px;
}

.my-textarea{
    height: 50px;
}

.my-input:focus,
.my-textarea:focus{
    border-bottom: 2px solid #6C5CCB;
    background: #38393c;
}
 


#block6
{
    position: absolute;
    background:linear-gradient(#000,#000);
    width: 100%;
    z-index:-7777;
}

#block6{
    height: 33vh;
}


.block6_content{
    position: fixed;
    left: 4%;
    bottom:2%;
    /* transform: translateX(-50%); */
    z-index: -2;
    width: 100%;
}

.card-shadow{
    border: none;
    background: transparent;
    /* background-color: #212529; */
    /* box-shadow: 0 5px 15px 5px rgba(50,50,93,0.1), 0 5px 5px rgba(0,0,0,0.1); */
    min-height: 500px;
}

.page-content{
    padding-top: 50px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><path d="M5 0L0 5V0h5zm10 0h10L0 25V15L15 0zM0 55l5 5H0v-5zm0-10V35l25 25H15L0 45zM60 5l-5-5h5v5zm0 10v10L35 0h10l15 15zM45 60H35l25-25v10L45 60zm10 0l5-5v5h-5zM30 5l25 25-5 5-20-20-20 20-5-5L30 5zm0 40l5 5-5 5-5-5 5-5zm0-20l15 15-5 5-10-10-10 10-5-5 15-15z"/></svg>');
    background-size: 20px;
    background-attachment: fixed;
    background-position: center 20px;
    background-color: #111;
    min-height: 100vh;
}
.contact-page-content{
    padding-top: 50px;
    background: url('../images/imgC/bg6.png');
    background-attachment: fixed;
    background-color: #111;
    min-height: 100vh;
}
.cor{
    position: relative;
    z-index: 3;
    margin-bottom:3.5pc;
    margin-top:3.5pc;
}

.tete{
    position: relative;
}




 /* COLORS ********************************************* */

 .cl-violet{
     color:#7362dc;
 }

 .cl-black{
     color: #626a72;
 }

#tw:hover{
    color: #1dcaff;
}

#insta:hover{
    color: #e95950;
}

#fb:hover{
    color: #3a589e;
}

#yt:hover{
    color: #ff0000;
}

.bg-insta{
    background: #383737;
}

.bg-insta:hover{
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
}

.bg-tweet{
    background: #383737;
}

.bg-tweet:hover{
    background: #1dcaff;
}

.bg-yt{
    background: #383737;
}

.bg-fb{
    background: #383737;
}

.bg-yt:hover{
    background: #ff0000;
}

.bg-fb:hover{
    background: #3a589e;
}

/* BUTTONS ********************************************* */

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

.raise {
  --color: #e6e3fa;
  --hover: #00a657;
}

.my-button {
  color: var(--color);
  transition: 0.25s;
}
.my-button:hover, .my-button:focus {
  border-color: var(--hover);
  color: #00a657;
}

.my-button {
    background: none;
    border: 2px solid;
    border-radius: 5px;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    font-size: 16px;
}

.my-second-button {
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    font-size: 16px;
    cursor: pointer;
    transition: 0.25s;

    background: #0eab60;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.my-second-button:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }




/* code de la partie service de contact*/
/* premier col-md-6 */ 

.panel {cursor:pointer;display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center;transition:padding 350ms ease-in-out;border-bottom:2px solid var(--c-grey); color:#f3f3f3}
.panel:last-of-type {border:0}

.panel-head {position:relative;width:100%;display:flex;flex-wrap:nowrap;justify-content:space-between;align-items:center}
.panel-head-left, .panel-head-right {display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center}

.panel-head-left {padding:2vh calc(2vw + 50px) 2vh calc(2vw + 15px)}
.panel-head-left-icon {display:flex;justify-content:center;align-items:center;margin-right:calc(1.5vw + 15px)}
.panel-head-left-icon img {width:35px;height:auto}
.panel-head-left-title {font:normal 700 1.2em / 1.3 var(--typo1);margin:2vh 0}

.panel-head-right {position:absolute;right:calc(2vw + 15px)}
.panel-head-right-details {font:normal 400 .9em / 1.5 var(--typo1);margin:0}
.panel-head-right-cross {position:relative;top:-10px;margin-left:calc(1.5vw + 25px);margin-right:10px}
.panel-head-right-cross span {position:absolute;width:3px;height:20px;background:#6C5CCB;transition:all 350ms ease-in-out}
.panel-head-right-cross span:nth-child(2) {transform:rotate(90deg)}

.toggle {display:none;width:100%;padding:5vh calc(2vw + 15px);border-top:1px solid transparent;transition:border-color 350ms ease-in-out}
.toggle-content {display:flex;flex-wrap:wrap;flex-direction:row;justify-content:space-between;align-items:center}
.toggle-desc {width:calc(64% - 15px);font:normal 400 1em / 1.7 var(--typo1)}
.toggle-desc p {margin:0}
.toggle-img {width:calc(31% - 15px)}

.panel.show .toggle {border-color:var(--c-grey)}
.panel.show .panel-head-right-cross span:first-child {transform:translate(-50%) rotate(45deg)}
.panel.show .panel-head-right-cross span:nth-child(2) {transform:translate(-50%) rotate(-45deg)}

@media only screen and (max-width:959px) {
.panel-head-right-details {display:none}
.toggle-desc, .toggle-img {width:100%}
.toggle-desc {margin-bottom:3vh!important}
}

@media only screen and (max-width:480px) {
.panel-head-left-icon {display:none}
 }
 .centered {
  top: 45%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #2e0c9c;
  background-color:#2e0c9c;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #6C5CCB;
}

.icon-rep{
font-size: 35px;
color: #17a2b8;
}
/* FIN PREMIER COL-MD-6 */


/* DEUXIEMME COL-MD-6 */
.icon{
    position: relative;
    font-size:45px;
    font-weight:900;
    z-index:200;
    color:#fff;
}
.icon:hover{
    color: #e51616;
    cursor:pointer;
}
.icon-add{
  top: 14.6pc;
  right: -25pc;
}
.icon-rmv{
  top: -14pc;
  right: -6pc;
}
.hiden{
  visibility: hidden;
}
/*background*/


.title{
    margin-bottom:1.4pc;
    font-weight:700;
    font-size:1.5pc;
}
.small{
  margin-bottom:5pc;
  align-self: auto;
  color: #f3f3f3;
}


.part{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top:2px;
}
.circle-chart{
   border-radius: 50%;
}


text{
  fill: #f3f3f3;
  transition: all 0.5s;
}


.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 2000;
  animation: dash 5s  ease-in-out;
}

@keyframes dash {
  to {
    stroke-dashoffset: 500;
  }
}

/* Button */
.btn {
  background: transparent;
  width: 8pc;
  position: relative; top: 0.5pc; margin-bottom: 5pc;
  color: #17a2b8;
  background: rgba(109, 92, 203, 0.657);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  border-radius: 4px;
  font-weight: 600;
  overflow: hidden;
  border: 2px solid black;
  text-decoration: none;
}

/* In Progress Button */
.btn-progress {
  width: 80%;
  color: transparent;
  height: 50%;
}

.btn-fill:after {
  content: '';
  background: rgb(99, 83, 189);
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  transform-origin: 0;
  display: block;
  animation: fill 3.2s linear forwards;
}

/* Button Complete */
.btn-complete {
  padding: 10px;
  width: 8pc;
 color: black;
  pointer-events: none;
}

.btn-complete:after {
  font-family: FontAwesome;
  content: "\f00c succès";
  color: #fff;
  height: 100%;
  padding-left: 3px;
  position: absolute;
  top: 0; left: 0; right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6C5CCB;
}

/* Animation */
@keyframes fill {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

/* FIN DEUXIEMME COL-MD-6 */